

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <div class="header-log">
            <img src="https://www.bizarexpedition.com/bx/images/logo/15903060991.png" alt="">
        </div>
      </a>
  
      <!-- Centered Search Bar -->
      <div class="d-flex justify-content-center align-items-center flex-grow-1 ">
        <form class="d-flex">
          <!-- <input class="" type="search" placeholder="Search" aria-label="Search"> -->
          <div class="header-search-container header-mobile form-control me-2 d-flex justify-content-between">
            <div class="header-search-svg">
                <fa-icon style="color: rgb(192, 192, 192);font-size: 18px;" [icon]="faSearch"></fa-icon>
            </div>
            <div class="header-mic-container">
                <fa-icon style="color: rgb(192, 192, 192);font-size: 18px;" [icon]="faMicrophone"></fa-icon>
            </div>
        </div>
        </form>
      </div>
  
      <!-- Right Aligned Menu -->
      <div class="d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-icon header-mobile" style="display: flex;">
                <li class="nav-item single-header-icon">
                    <!-- icon here 25*25 -->
                    <fa-icon style="color: rgb(192, 192, 192);font-size: 18px;" [icon]="faPhone"></fa-icon>
                    <a class="" href="">call</a>
                </li>
                <li class="nav-item single-header-icon">
                    <!-- icon here 25*25 -->
                    <fa-icon style="color: rgb(192, 192, 192);font-size: 18px;" [icon]="faHeart"></fa-icon>
                    <a href="">Wishlist</a>
                </li>
                <li class="nav-item single-header-icon">
                    <!-- icon here 25*25 -->
                    <fa-icon style="color: rgb(192, 192, 192);font-size: 18px;" [icon]="faBell"></fa-icon>
                    <a href="">Notification</a>
                </li>
                <li class="nav-item single-header-icon">
                    <!-- icon here 25*25 -->
                    <fa-icon style="color: rgb(192, 192, 192);font-size: 18px;" [icon]="faUser"></fa-icon>
                    <a href="">Sign In</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="container-fluid bg-black">
    <div class="sub-nav-container container d-flex justify-content-between pt-1 pb-1 align-items-center">
        <div class="each-sub-nav"><p class="text-white">India</p></div>
        <div class="each-sub-nav"><p class="text-white">India</p></div>
        <div class="each-sub-nav"><p class="text-white">India</p></div>
        <div class="each-sub-nav"><p class="text-white">India</p></div>
        <div class="each-sub-nav"><p class="text-white">India</p></div>
        <div class="each-sub-nav"><p class="text-white">India</p></div>
    </div>
  </nav>
  