<div class="container" style="text-align: center; margin: 50px 0;">
    <h2>Plan an unforgettable trip from your city</h2>
</div>
<div class="container d-flex gap-3 flex-wrap justify-center">
    <!-- <div style="width: 18rem;display: flex; flex-direction: row;">
        <img class="card-img-top" style="width: 220px;height: 120px;object-fit: cover;" src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div> -->

    <!-- toasted code start -->
    <div class="toasted-container d-flex gap-3" style="border: 1px solid black; align-items: center; padding:8px 15px; border-radius: 8px;padding-right:80px ;">
        <img class="card-img-top" style="width: 120px;height: 90px;object-fit: cover; border-radius: 15px;" src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="toasted-content" style="height: 90px;">
            <p style="font-size: 14px;">Tour Package from</p>
            <h1 style="font-size: 18px;">Ahemdabad</h1>
            <p>146 tours</p>
        </div>
    </div>
    <!-- End -->
    <!-- toasted code start -->
    <div class="toasted-container d-flex gap-3" style="border: 1px solid black; align-items: center; padding:8px 15px; border-radius: 8px;padding-right:80px ;">
        <img class="card-img-top" style="width: 120px;height: 90px;object-fit: cover; border-radius: 15px;" src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="toasted-content" style="height: 90px;">
            <p style="font-size: 14px;">Tour Package from</p>
            <h1 style="font-size: 18px;">Ahemdabad</h1>
            <p>146 tours</p>
        </div>
    </div>
    <!-- End -->
    <!-- toasted code start -->
    <div class="toasted-container d-flex gap-3" style="border: 1px solid black; align-items: center; padding:8px 15px; border-radius: 8px;padding-right:80px ;">
        <img class="card-img-top" style="width: 120px;height: 90px;object-fit: cover; border-radius: 15px;" src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="toasted-content" style="height: 90px;">
            <p style="font-size: 14px;">Tour Package from</p>
            <h1 style="font-size: 18px;">Ahemdabad</h1>
            <p>146 tours</p>
        </div>
    </div>
    <!-- End -->
    <!-- toasted code start -->
    <div class="toasted-container d-flex gap-3" style="border: 1px solid black; align-items: center; padding:8px 15px; border-radius: 8px;padding-right:80px ;">
        <img class="card-img-top" style="width: 120px;height: 90px;object-fit: cover; border-radius: 15px;" src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="toasted-content" style="height: 90px;">
            <p style="font-size: 14px;">Tour Package from</p>
            <h1 style="font-size: 18px;">Ahemdabad</h1>
            <p>146 tours</p>
        </div>
    </div>
    <!-- End -->
    <!-- toasted code start -->
    <div class="toasted-container d-flex gap-3" style="border: 1px solid black; align-items: center; padding:8px 15px; border-radius: 8px;padding-right:80px ;">
        <img class="card-img-top" style="width: 120px;height: 90px;object-fit: cover; border-radius: 15px;" src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="toasted-content" style="height: 90px;">
            <p style="font-size: 14px;">Tour Package from</p>
            <h1 style="font-size: 18px;">Ahemdabad</h1>
            <p>146 tours</p>
        </div>
    </div>
    <!-- End -->
    
</div>