:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1200px;
    height: 481px;
    margin: 0 auto;
  }
  .main-container .img {
    position: relative;
    width: 318px;
    height: 64px;
    margin: 0 0 0 79px;
    background: url(../../../assets/images/Home/logo.webp)
      no-repeat center;
    background-size: cover;
  }
  .group {
    position: relative;
    width: 1018px;
    height: 25px;
    margin: 29px 0 0 78px;
    z-index: 88;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 0;
    left: 859px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 88;
  }
  .group-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 314px;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 54;
  }
  .text-2 {
    flex-shrink: 0;
    position: relative;
    height: 23px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
  }
  .text-3 {
    flex-shrink: 0;
    position: relative;
    height: 23px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
  }
  .text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 2px;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
  }
  .text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 2px;
    left: 653px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
  }
  .section {
    position: relative;
    width: 961px;
    height: 20px;
    margin: 2px 0 0 78px;
    z-index: 84;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 308px;
    height: 20px;
    top: 0;
    left: 653px;
    z-index: 84;
  }
  .text-6 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
  }
  .text-7 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 84;
  }
  .text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
  }
  .text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
  }
  .text-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .box {
    position: relative;
    width: 1016px;
    height: 20px;
    margin: -3px 0 0 78px;
    z-index: 85;
  }
  .text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 859px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 85;
  }
  .group-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 338px;
    height: 20px;
    top: 0;
    left: 443px;
    z-index: 44;
  }
  .text-c {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
  }
  .text-d {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
  }
  .text-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }
  .text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
  }
  .section-2 {
    position: relative;
    width: 973px;
    height: 20px;
    margin: -2px 0 0 78px;
    z-index: 86;
  }
  .group-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 320px;
    height: 20px;
    top: 0;
    left: 653px;
    z-index: 86;
  }
  .text-10 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .text-11 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 86;
  }
  .text-12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
  }
  .text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }
  .section-3 {
    position: relative;
    width: 1045px;
    height: 20px;
    margin: -2px 0 0 78px;
    z-index: 87;
  }
  .text-15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 859px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 87;
  }
  .box-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 350px;
    height: 20px;
    top: 0;
    left: 443px;
    z-index: 46;
  }
  .text-16 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
  }
  .text-17 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 46;
  }
  .text-18 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .text-19 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 52;
  }
  .section-4 {
    position: relative;
    width: 1003px;
    height: 27px;
    margin: 27px 0 0 78px;
    z-index: 90;
  }
  .text-1a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 0;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
  }
  .text-1b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 7px;
    left: 859px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 90;
  }
  .text-1c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 9px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }
  .text-1d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 9px;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 39;
  }
  .text-1e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 9px;
    left: 652px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 61;
  }
  .wrapper-2 {
    position: relative;
    width: 999px;
    height: 21px;
    margin: -3px 0 0 78px;
    z-index: 91;
  }
  .text-1f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 859px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 91;
  }
  .text-20 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 652px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 62;
  }
  .text-21 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 3px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .text-22 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 3px;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 56;
  }
  .text-23 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 3px;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
  }
  .box-3 {
    position: relative;
    width: 816px;
    height: 20px;
    margin: -3px 0 0 302px;
    z-index: 92;
  }
  .text-24 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 635px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 92;
  }
  .text-25 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 57;
  }
  .text-26 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 428px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
  }
  .section-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 812px;
    height: 20px;
    margin: -2px 0 0 302px;
    z-index: 93;
  }
  .text-27 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 58;
  }
  .text-28 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 93;
  }
  .section-6 {
    position: relative;
    width: 1044px;
    height: 49px;
    margin: 28px 0 0 79px;
    z-index: 73;
  }
  .group-5 {
    position: absolute;
    width: 374px;
    height: 49px;
    top: 0;
    left: 0;
    background: rgba(230, 208, 208, 0);
    z-index: 73;
  }
  .img-2 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14px;
    left: 4px;
    /* background: url(./assets/images/d66610aa-5ca2-466b-bb53-ebe278bdd3f5.png)
      no-repeat center; */
    background-size: cover;
    z-index: 78;
    overflow: hidden;
  }
  .img-3 {
    position: absolute;
    width: 24px;
    height: 25px;
    top: 14px;
    left: 82px;
    /* background: url(./assets/images/86bd101d-e957-41e3-9d98-57e048b842b8.png)
      no-repeat center; */
    background-size: cover;
    z-index: 79;
    overflow: hidden;
  }
  .pic {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 14px;
    left: 340px;
    /* background: url(./assets/images/f2243d3c-4586-43ae-af8f-c817079e1340.png)
      no-repeat center; */
    background-size: cover;
    z-index: 82;
    overflow: hidden;
  }
  .img-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 294px;
    /* background: url(./assets/images/c58f64bf-19bd-4a91-8d28-2f174bb373db.png)
      no-repeat center; */
    background-size: cover;
    z-index: 75;
    overflow: hidden;
  }
  .img-5 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 249px;
    /* background: url(./assets/images/f03193fc-a4b6-4106-b3fc-2c332cfb43b6.png)
      no-repeat center; */
    background-size: cover;
    z-index: 77;
  }
  .pic-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 159px;
    /* background: url(./assets/images/e889053f-3598-44aa-86ab-c9fec0e272ca.png)
      no-repeat center; */
    background-size: cover;
    z-index: 74;
    overflow: hidden;
  }
  .img-6 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 204px;
    /* background: url(./assets/images/1bf9ee9f-7116-48ee-b798-be8788eb5f4e.png)
      no-repeat center; */
    background-size: cover;
    z-index: 76;
    overflow: hidden;
  }
  .pic-3 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 48px;
    /* background: url(./assets/images/df6c2a25-661b-48ef-afbd-37d6c5a39420.png)
      no-repeat center; */
    background-size: cover;
    z-index: 81;
    overflow: hidden;
  }
  .img-7 {
    position: absolute;
    width: 4.9%;
    height: 36.73%;
    top: 32.65%;
    left: 33.42%;
    /* background: url(./assets/images/239db031-b926-4df3-9e1c-2ff39af6660c.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 80;
  }
  .group-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 197px;
    height: 49px;
    top: 0;
    left: 616px;
    z-index: 69;
  }
  .text-29 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 67;
  }
  .text-2a {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
  }
  .text-2b {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
  }
  .text-2c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 18px;
    left: 516px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 66;
  }
  .text-2d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 18px;
    left: 828px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 70;
  }
  .text-2e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 18px;
    left: 943px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
  }
  .wrapper-3 {
    position: relative;
    width: 657px;
    height: 20px;
    margin: 29px 0 0 272px;
    z-index: 16;
  }
  .text-2f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 489px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
  }
  .text-30 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 1px;
    left: 153px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
  }
  .text-31 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 1px;
    left: 318px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .text-32 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 2px;
    left: 17px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .img-8 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 301px;
    /* background: url(./assets/images/cbf70f7f-137f-4910-a804-08c53323216a.png)
      no-repeat center; */
    background-size: cover;
    z-index: 9;
  }
  .section-7 {
    position: absolute;
    width: 2.03%;
    height: 60%;
    top: 15%;
    left: 71.54%;
    border: 2px solid #33363f;
    z-index: 14;
    border-radius: 2px;
  }
  .pic-4 {
    position: relative;
    width: 13.333px;
    height: 4px;
    margin: 2px 0 0 0;
    /* background: url(./assets/images/c7ce3ca8-b11c-43e2-831d-28eeff22f999.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 15;
  }
  .pic-5 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 0;
    /* background: url(./assets/images/3aabf17e-3015-4b94-908e-4b835dbb2296.png)
      no-repeat center; */
    background-size: cover;
    z-index: 6;
  }
  .img-9 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 136px;
    /* background: url(./assets/images/c5c951af-05a6-49f0-84aa-fc4437529df1.png)
      no-repeat center; */
    background-size: cover;
    z-index: 12;
  }
  .pic-6 {
    position: relative;
    width: 104px;
    height: 16px;
    margin: 17px 0 0 539px;
    /* background: url(../../../assets/images/Home/15903060991.webp)
      no-repeat center; */
    background-size: cover;
    z-index: 18;
  }
  .text-33 {
    display: block;
    position: relative;
    height: 15px;
    margin: 7px 0 0 487px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
  }
  .box-4 {
    position: absolute;
    width: 1000px;
    height: 36px;
    top: 193px;
    left: 78px;
    z-index: 94;
  }
  .text-34 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 0;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .text-35 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 224px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
  }
  .text-36 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 0;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
  }
  .text-37 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 7px;
    left: 859px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 94;
  }
  .text-38 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 9px;
    left: 652px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    white-space: nowrap;
    z-index: 64;
  }
  .text-39 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 18px;
    left: 443px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
  }
  .text-3a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 211px;
    left: 78px;
    color: #000000;
    font-family: Mulish, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 17.57px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .img-a {
    position: absolute;
    width: 1200px;
    height: 1px;
    top: 434.5px;
    left: 0;
    /* background: url(./assets/images/df5ebd1b-624a-499f-99ec-dd91a24cc348.png)
      no-repeat center; */
    background-size: cover;
    z-index: 1;
  }
  




  /* ghghghghghghghghghghghghghghghghghghghghghghghghghggggggggggggggggggggggggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
  /* ghghghghghghghghghghghghghghghghghghghghghghghghghggggggggggggggggggggggggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
  /* ghghghghghghghghghghghghghghghghghghghghghghghghghggggggggggggggggggggggggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
  /* ghghghghghghghghghghghghghghghghghghghghghghghghghggggggggggggggggggggggggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
  /* ghghghghghghghghghghghghghghghghghghghghghghghghghggggggggggggggggggggggggggggggggggggggggggggggggghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */

.text-uppercase-footer-ctm{
  font-size: 18px;
  font-weight: 700;
  text-align: start;
}
.list-unstyled li{
  text-align: start;
  line-height: 20px;
}
.list-unstyled li a:hover{
  color: black;
  /* background-color: red; */
}
.text-body-footer-ctm{
  font-size: 14px;
  font-weight: 400;
  color: #868686;
  text-decoration: none;
}
.text-body-footer-ctm :hover{
  color: black;
}

.footer-nav-link-ctm ul{
  display: flex;
  gap: 12px;
  list-style: none;
  justify-content: end;
  margin: 40px 0;
}
.footer-nav-link-ctm ul li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.footer-contact-link-ctm ul{
  justify-content: center;
  gap: 20px;
}


