


<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
<!-- hggggggggggggggggggggjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->



<!-- Footer -->
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">

    <div class="footer-logo-ctm d-flex justify-content-start mt-5">
      <img src="../../../assets/images/Home/logo.webp"  style="width: 220px;" alt="">
    </div>

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase-footer-ctm">Char Dham Yatra 2024</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Complete Chardham Yatra</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Do Dham Yatra</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Kedarnath Yatra</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Badrinath Yatra</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Chardham Yatra by Helicopter</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Do Dham Yatra by Helicopter</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Kedarnath Yatra by Helicopter</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Badrinath Yatra by Helicopter</a>
            </li>
          </ul>

          <h5 class="text-uppercase-footer-ctm mt-5">Experiential Travel</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Spiti Valley Tour</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Shimla Honeymoon Tour</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Manali Volvo Tour</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Dalhousie Dharamshala Tour</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase-footer-ctm">Adventure</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Rishikesh Rafting Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Kanatal Uttarakhand Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Chopta Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Valley of Flowers</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Corbett Safari Packages</a>
            </li>
          </ul>
          <h5 class="text-uppercase-footer-ctm mt-5">Camping</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Kedarnath Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Har ki Dun Trek</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Dodital Trek</a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase-footer-ctm">Hill Station</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Rishikesh Auli Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Mussoorie Holiday Packages</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Nainital Packages</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Nainital-Jim Corbett Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Chopta Tour Package</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Shimla Packages</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Auli Tour Packages</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Manali Tour Packages</a>
            </li>
          </ul>

          <h5 class="text-uppercase-footer-ctm mt-5">Accommodation</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">CampingCamps in Uttarakhand</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Hotels in Uttarakhand</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Hotel & Resort in Jim Corbett</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Hotels in Himachal Pradesh</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase-footer-ctm">Car Rental</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Uttarakhand TaxiService</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Haridwar CarRental</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Delhi to UttarakhandService</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Dehradun TaxiService</a>
            </li>
          </ul>
          <h5 class="text-uppercase-footer-ctm mt-5">Camping</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body-footer-ctm" href="#!">Complete Char Dham</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Do Dham</a>
            </li>
            <li>
              <a class="text-body-footer-ctm" href="#!">Ek Dham</a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->
        



      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->




<!-- footer nav link -->

    <div class="footer-nav-link-ctm">
      <ul>
        <li>
          <a href="">Who We Are</a>
        </li>
        <li>
          <a href="">Contact Us</a>
        </li>
        <li>
          <a href="">Blogs</a>
        </li>
        <li>
          <a href="">Payment</a>
        </li>
        <li>
          <a href="">Payment</a>
        </li>
        <li>
          <a href="">Login/Register</a>
        </li>
      </ul>
    </div>

    <!-- Footer phone number -->

    <div class="footer-nav-link-ctm footer-contact-link-ctm">
      <ul>
        <li>
          <a href="">080-66215504</a>
        </li>
        <li>
          <a href="">91-9897-581-113</a>
        </li>
        <li>
          <a href="">91-7252-885-525</a>
        </li>
        <li>
          <a href="">infobizarexpedition.com</a>
        </li>
      </ul>
    </div>

  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-reset fw-bold" style="text-decoration: none;" href="https://www.bizarexpedition.com/">Bizarexpedition Services Pvt. Ltd.</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->