<div class="hero-banner-container container-fluid" style="background:url(https://img.veenaworld.com/festive-season/republic-day/republic-day-background.jpg) ; height: 470px; background-repeat: no-repeat;" >
    <h1 style="text-align: center;padding: 50px 0;">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
    <div class="hero-banner-cards container d-flex gap-4 justify-content-center">
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
        <!-- Card -->
        <div class="card" style="width: 230px; height: 240px;object-fit: cover;overflow: hidden;">

            <!-- Card image -->
            <div class="view overlay">
            <img style="width: 100%;" class="card-img-top" src="https://img.veenaworld.com/group-tours/india/gujarat/gtsd/tbh-GTSD-382021.jpg"
                alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
            <!-- Card content -->
            <div style="padding: 10px;" class="card-body">
                <h6>Highlights of Gujarat</h6>
                <div class="card-discription-ctm d-flex justify-content-between align-items-center">
                    <h5 style="font-weight: 600;font-size: 16px;"> ₹30,000</h5>
                    <h6 style="font-size: 12px;">7 days | 5 departure</h6>
                </div>
            </div>
        
        </div>
    <!-- Card -->
    </div>
</div>



































<!-- 
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="overflow: hidden;">
      <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card  " style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
  </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card  " style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
  </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card " style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
  </div>
          <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
          </div>
          <div class="card" style="width: 18rem;">
    <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      
    </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->