<app-header></app-header>
<div class="admin-all-post-container">
    <div class="admin-add-post-btn-container">
        <span>Add New Post</span>
    </div>
    <div class="admin-post-filter-category">
        <span><p>All (0)</p></span>
        <span><p>Published (0)</p></span>
    </div>
    <div class="admin-all-post-display">
        <div class="admin-all-post-table-heading">
            <p admin-post-heading>Title</p>
            <p admin-post-heading>Author</p>
            <p admin-post-heading>Category</p>
            <p admin-post-heading>Tags</p>
            <p admin-post-heading>Date</p>
        </div>
        <div class="admin-all-post-table-data">
            <p admin-each-post-table-data >Zoho Consulting Content here</p>
            <p admin-each-post-table-data >Aman Kharwar</p>
            <p admin-each-post-table-data >Business work</p>
            <p admin-each-post-table-data >Zoho,web,app</p>
            <p admin-each-post-table-data >12/11/2004</p>
        </div>
    </div>
</div>
