.w-100 {
    width: 100% !important;
    height: 312px;
    object-fit: cover;
}

.carousel-control-prev-icon ,.carousel-control-next-icon{
    /* background-color: rgb(235, 230, 230); */
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: black;
    /* padding: 22px; */
    /* width: 12px;
    height: 12px; */

}
.carousel-indicators{
    display: none;
}