<div class="container">
    <div class="row" style="display: flex;align-items: center; gap: 20px; justify-content: center;" >
      <div class="col col-12 col-md-3" >
        
        <div class="home-top-small-banner" style="height: 430px;border-radius: 1rem;overflow: hidden;">
          
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="object-fit: cover;height: 430px;width: 100%;" src="https://images.unsplash.com/photo-1682685797898-6d7587974771?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="object-fit: cover;height: 430px;width: 100%;" src="https://images.unsplash.com/photo-1682685797229-b2930538da47?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="object-fit: cover;height: 430px;width: 100%;" src="https://images.unsplash.com/photo-1682685797898-6d7587974771?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

      </div>
      <!-- side 8 cards -->
      <div class="col" >

        <div class="row">
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
            
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"></span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
            
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
            <div class="col">
              <div class="main-container">
                <span class="text">Europe</span>
                <div class="box">
                  <div class="group">
                    <span class="text-2">142</span><span class="text-3"> </span
                    ><span class="text-4">tours</span><span class="text-5"> | </span
                    ><span class="text-6">372</span><span class="text-7"> </span
                    ><span class="text-8">departures</span><span class="text-9"> </span>
                  </div>
                  <div class="group-2">
                    <span class="text-a">70,072</span><span class="text-b"> </span
                    ><span class="text-c">guest travelled</span
                    ><span class="text-d"> </span>
                  </div>
                </div>
                <div class="pic"></div>
                <div class="pic-2"></div>
              </div>
            </div>
        </div>
        

      </div>
      
    </div>
    
    
  </div>