<!-- header component -->
<app-website-header></app-website-header>
<!-- center part -->
<app-hero-banner></app-hero-banner>
<!-- Home-top -->
<app-home-top></app-home-top>
<!-- Home toasted-card -->
<app-toasted-card></app-toasted-card>
<!-- Home Banner-1 -->
<app-home-banner1></app-home-banner1>
<!-- Home review section -->
<app-home-reviews-section></app-home-reviews-section>
<!-- Home Cards Section -->
<app-home-cards></app-home-cards>
<!-- Home Cards 2 -->
<app-home-card-2></app-home-card-2>
<!-- Home Ty Blog -->
<app-home-ty-blog></app-home-ty-blog>
<!-- footer component -->
<app-website-footer></app-website-footer>