

.admin-container-graphs{
    display: flex;
    gap: 20px;
}
.container-analytic-card-left,.admin-container-content-right{
    background-color: white;
    height: 350px;
    width: 700px;
    border-radius: 1rem;
    padding: 15px;
}
.container-analytic-card-right,.admin-container-content-left{
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 350px;
    border-radius: 1rem;
    padding: 15px;
}
.admin-container-content-post{
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 0 ;
    gap: 20px;
}