
    <div class="admin-card-container">
        <div class="admin-container-menu-name">
            <app-header></app-header>
        </div>
        <div class="admin-container-graphs">
            <div class="container-analytic-card-left">
                <h2>Tracking</h2>
            </div>
            <div class="container-analytic-card-right">
                <h2>Recent Post</h2>
            </div>
        </div>
        <div class="admin-container-content-post">
            <div class="admin-container-content-left">
                <h2>Recent Post</h2>
            </div>
            <div class="admin-container-content-right">
                <h2>Tracking</h2>
            </div>
        </div>
        
    </div>
