
<!-- iklllllllljjjjjjkjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll -->
<!-- iklllllllljjjjjjkjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll -->
<!-- iklllllllljjjjjjkjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll -->
<!-- iklllllllljjjjjjkjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll -->
<!-- iklllllllljjjjjjkjlllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll -->
<div class="single-card-container" style="border: 1px solid black; border-radius: 12px;overflow: hidden; width: 350px;">
  <div class="single-card-wrapper p-2">
      <div class="single-card-main-img-txt d-flex gap-3 ">
          <div class="single-card-img" style="width: 220px; height: 100px; overflow: hidden;object-position: center;border-radius: 12px;">
              <!-- your image is here -->
              <img style="width: 100%; object-fit: cover; object-position: center; " src="https://images.unsplash.com/photo-1682687220975-7b2df674d3ce?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
          <div class="single-card-img-info">
              <div class="single-card-fav-icon">
                  <!-- favourite icon heart -->
              </div>
              <div class="single-card-info-btn">
                  <div class="single-card-btn-group ">
                      <a href="">Faimly</a>
                      <a href="">EUJW</a>
                  </div>
                  <a class="fam-btn-ctm" style="text-decoration: none;" href="">Faimly</a>
                  <h5 class="mt-3">European Jewels with Versailies</h5>
              </div>
          </div> 
      </div>

      <div class="single-card-category-svg-ctm">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>

      <div class="single-card-tour-svg-info align-items-center">
        <div class="single-card-svg-info single-card-category-svg-ctm-demo d-flex align-items-center">
          <img style="margin: 0;" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          
          <h6 >Travel15Days </h6>
          <h6>|</h6>
          <h6 >Travel15Days </h6>
          <h6>|</h6>
          <h6 >Travel15Days </h6>
        
        </div>
        <hr style="margin: 0;">
        <div class="single-card-svg-info single-card-category-svg-ctm-demo d-flex align-items-center">
          <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          
          <h6 >Travel15Days </h6>
          <h6>|</h6>
          <h6 >Travel15Days </h6>
          <h6>|</h6>
          <h6 >Travel15Days </h6>
        
        </div>
      </div>

      
      
    </div>
    <div class="single-card-footer-ctm" style="background-color:aliceblue;">
      <div class="single-card-footer-ctm p-3 d-flex justify-content-between">
        <div class="single-card-footer-left">
          <div class="single-card-star">
            <img style="width: 12px;" src="https://www.svgrepo.com/show/13695/star.svg" alt="">
            <h6 style="margin: 0;">5</h6>
          </div>
          <div class="single-card-money-tag-ctm">
            <img src="" alt="">
            <h5 style="font-size: 12px;">Quick Quotes</h5>
          </div>
        </div>

        <div class="single-card-footer-right">
          <h3 style="font-size: 15px;color: rgb(4, 218, 218);font-weight: 600;">SUPER DEAL PRICE</h3>
          <h5>start from</h5>
          <h2 style="font-size: 22px;font-weight: 600;">Rs 2,03,034</h2>
          <p style="font-size: 8px;">One Person Or Twin Sharing</p>
          <h5>from Rs 32,000/ month</h5>
        </div>

      </div>
      <div class="single-card-footer-btn p-3">
        <a href="">Enquiry Now</a>
        <a href="">View Details</a>
      </div>
    </div>
</div>